Repository darwinia-network/darwinia-common, pull requests merged in 2021-04, with the labels that each got.

#577 Generic account basic
  Cargo.lock
  bin/node/runtime/pangolin/src/dvm.rs
  bin/node/runtime/pangolin/src/evm.rs
  bin/node/runtime/pangolin/src/lib.rs
  frame/dvm/Cargo.toml
  frame/dvm/src/account_basic.rs
  frame/dvm/src/lib.rs
  frame/dvm/src/mock.rs
  frame/dvm/src/tests.rs
  frame/evm/precompile/contracts/kton/Cargo.toml
  frame/evm/precompile/contracts/kton/src/lib.rs
  frame/evm/src/lib.rs
  frame/evm/src/runner/stack.rs
  frame/evm/src/tests.rs
  script_tests/tests/contract/test-constract-method.js
  script_tests/tests/test_kton.js
Labels: Break Storage, P7 High, Pangolin

#546 Bridge registration protocol(Issuing and MappingTokenFactory)#v2.0.0
  Cargo.lock
  Cargo.toml
  bin/node/cli/src/chain_spec.rs
  bin/node/runtime/pangolin/Cargo.toml
  bin/node/runtime/pangolin/src/lib.rs
  bin/node/runtime/pangolin/src/pallets/ethereum_issuing.rs
  bin/node/runtime/pangolin/src/pallets/evm.rs
  bin/node/runtime/pangolin/src/pallets/mod.rs
  frame/bridge/ethereum/issuing/Cargo.toml
  frame/bridge/ethereum/issuing/contract/Cargo.toml
  frame/bridge/ethereum/issuing/contract/src/lib.rs
  frame/bridge/ethereum/issuing/src/lib.rs
  frame/bridge/ethereum/issuing/src/weights.rs
  frame/dvm/src/lib.rs
  frame/dvm/src/mock.rs
  frame/evm/precompile/Cargo.toml
  frame/evm/precompile/contracts/issuing/Cargo.toml
  frame/evm/precompile/contracts/issuing/src/lib.rs
  frame/evm/precompile/src/lib.rs
  frame/evm/src/lib.rs
  frame/evm/src/tests.rs
  frame/treasury/src/lib.rs
Labels: Bridge, P7 High

#593 Migrate `balances` to Attribute Macro
  Cargo.lock
  bin/node/runtime/pangolin/Cargo.toml
  bin/node/runtime/pangolin/src/lib.rs
  frame/balances/Cargo.toml
  frame/balances/src/lib.rs
  frame/balances/src/tests.rs
  frame/balances/src/tests_local.rs
  frame/bridge/ethereum/backing/src/lib.rs
  frame/bridge/ethereum/backing/src/test_with_linear_relay.rs
  frame/bridge/ethereum/backing/src/test_with_relay.rs
  frame/bridge/ethereum/issuing/src/lib.rs
  frame/bridge/ethereum/linear-relay/src/lib.rs
  frame/bridge/ethereum/relay/src/lib.rs
  frame/bridge/relay-authorities/src/lib.rs
  frame/bridge/relay-authorities/src/mock.rs
  frame/bridge/relayer-game/src/lib.rs
  frame/bridge/relayer-game/src/mock.rs
  frame/bridge/relayer-game/src/tests.rs
  frame/claims/src/lib.rs
  frame/democracy/src/lib.rs
  frame/democracy/src/tests.rs
  frame/democracy/src/tests/lock_voting.rs
  frame/dvm/src/mock.rs
  frame/elections-phragmen/src/lib.rs
  frame/evm/src/tests.rs
  frame/staking/src/lib.rs
  frame/staking/src/mock.rs
  frame/staking/src/substrate_tests.rs
  frame/support/src/lib.rs
  frame/support/src/macros.rs
  frame/support/src/structs.rs
  frame/support/src/traits.rs
  frame/treasury/src/lib.rs
  frame/treasury/src/mock.rs
  frame/treasury/src/tests.rs
  frame/vesting/src/lib.rs
Labels: Break Storage, Migration Added, P9 High, Substrate Update

#597 Dust Collection Hook
  frame/balances/src/lib.rs
  frame/balances/src/tests.rs
  frame/balances/src/tests_local.rs
Labels: Multi-Currencies, Substrate Update

#599 Release Pangolin.221
  Cargo.lock
  bin/node/runtime/pangolin/src/pallets/balances.rs
  client/dvm/rpc/Cargo.toml
  client/dvm/rpc/src/lib.rs
  frame/evm/src/lib.rs
  frame/evm/src/tests.rs
  script_tests/tests/1_test-transfer.js
Labels: Pangolin

#601 Use `FullGrandpaBlockImport` for Pangolin
  Cargo.lock
  Cargo.toml
  bin/node/cli/Cargo.toml
  bin/node/cli/src/service.rs
  client/dvm/consensus/Cargo.toml
  client/dvm/consensus/src/lib.rs
  client/dvm/mapping-sync/Cargo.toml
  client/dvm/rpc/Cargo.toml
Labels: Pangolin

#607 Deposit Event & Adjust Tips Dest
  bin/node/runtime/pangolin/src/lib.rs
  bin/node/runtime/pangolin/src/pallets/balances.rs
Labels: Pangolin, Slient

#608 Pangolin.222
  bin/node/runtime/pangolin/src/lib.rs
Labels: Pangolin, Slient

#610 Migrate `tron-backing` to Attribute Macro
  bin/node/cli/src/chain_spec.rs
  bin/node/runtime/pangolin/src/lib.rs
  bin/node/runtime/pangolin/src/pallets/crab_issuing.rs
  frame/bridge/crab/backing/src/lib.rs
  frame/bridge/crab/issuing/src/lib.rs
  frame/bridge/crab/issuing/src/mock.rs
  frame/bridge/tron/backing/src/lib.rs
Labels: Migration Added, Pangolin

#609 Correct ED
  frame/bridge/ethereum/backing/src/lib.rs
Labels: Slient

#611 Migrate `ethereum-backing` to Attribute Macro
  bin/node/cli/src/chain_spec.rs
  bin/node/runtime/pangolin/Cargo.toml
  bin/node/runtime/pangolin/src/lib.rs
  frame/bridge/crab/issuing/src/lib.rs
  frame/bridge/ethereum/backing/Cargo.toml
  frame/bridge/ethereum/backing/src/lib.rs
  frame/bridge/ethereum/backing/src/mock.rs
  frame/bridge/ethereum/backing/src/test_with_linear_relay.rs
  frame/bridge/ethereum/backing/src/test_with_relay.rs
  frame/bridge/tron/backing/src/lib.rs
Labels: Break Storage, Migration Added, Pangolin
