Repository darwinia-network/darwinia-common, pull requests merged in 2021-07, with the labels that each got.

#687 Benchmark framework for runtime
  .github/workflows/ci.yml
  Cargo.lock
  bin/node/cli/Cargo.toml
  bin/node/cli/src/cli.rs
  bin/node/cli/src/command.rs
  bin/node/cli/src/service.rs
  bin/node/runtime/pangolin/Cargo.toml
  bin/node/runtime/pangolin/src/lib.rs
Labels: Test Improvement

#696 Optional `runtime-benchmarks`
  bin/node/cli/Cargo.toml
  bin/node/cli/src/cli.rs
  bin/node/cli/src/command.rs
  bin/node/runtime/pangolin/Cargo.toml
Labels: Pangolin, Test Improvement

#695 Update `sha3`
  Cargo.lock
  client/dvm/rpc/Cargo.toml
  frame/evm/Cargo.toml
  primitives/consensus/Cargo.toml
Labels: Dependency Update

#689 v0.11.0 Preview
  Cargo.lock
  bin/node/runtime/pangolin/polkadot-compatible-types.json
  bin/node/runtime/pangolin/src/lib.rs
  bin/node/runtime/pangolin/src/pallets/header_mmr.rs
  bin/node/runtime/pangolin/types.json
  frame/bridge/ethereum/backing/src/lib.rs
  frame/bridge/ethereum/backing/src/mock.rs
  frame/bridge/relay-authorities/Cargo.toml
  frame/bridge/relay-authorities/src/lib.rs
  frame/bridge/relay-authorities/src/mock.rs
  frame/bridge/relay-authorities/src/test.rs
  frame/header-mmr/Cargo.toml
  frame/header-mmr/mmr.json
  frame/header-mmr/rpc/runtime-api/src/lib.rs
  frame/header-mmr/rpc/src/lib.rs
  frame/header-mmr/src/lib.rs
  frame/header-mmr/src/mock.rs
  frame/header-mmr/src/primitives.rs
  frame/header-mmr/src/tests.rs
  frame/header-mmr/src/weights.rs
  primitives/relay/src/relay_authorities.rs
Labels: Patch

#697 Correct Collective Genesis
  bin/node/cli/src/chain_spec.rs
  bin/node/runtime/pangolin/src/pallets/membership.rs
Labels: Pangolin

#699 Raise Inner Error
  frame/bridge/ethereum/backing/src/lib.rs
  frame/bridge/ethereum/backing/src/test_with_relay.rs
  frame/bridge/ethereum/issuing/src/lib.rs
  frame/bridge/ethereum/linear-relay/src/lib.rs
  frame/bridge/ethereum/linear-relay/src/tests.rs
  frame/bridge/ethereum/relay/src/lib.rs
Labels: Bridge

#692 s2s issuing and backing pallet
  Cargo.lock
  Cargo.toml
  bin/node/cli/src/chain_spec.rs
  bin/node/runtime/pangolin/Cargo.toml
  bin/node/runtime/pangolin/src/bridges/substrate/millau_messages.rs
  bin/node/runtime/pangolin/src/lib.rs
  bin/node/runtime/pangolin/src/pallets/bridge_messages.rs
  bin/node/runtime/pangolin/src/pallets/evm_.rs
  bin/node/runtime/pangolin/src/pallets/mod.rs
  bin/node/runtime/pangolin/src/pallets/s2s_issuing.rs
  frame/bridge/s2s/backing/Cargo.toml
  frame/bridge/s2s/backing/src/benchmarking.rs
  frame/bridge/s2s/backing/src/lib.rs
  frame/bridge/s2s/backing/src/weight.rs
  frame/bridge/s2s/issuing/Cargo.toml
  frame/bridge/s2s/issuing/src/benchmarking.rs
  frame/bridge/s2s/issuing/src/lib.rs
  frame/bridge/s2s/issuing/src/tests.rs
  frame/bridge/s2s/issuing/src/weight.rs
  frame/dvm/src/lib.rs
  frame/evm/precompile/contracts/encoder/Cargo.toml
  frame/evm/precompile/contracts/encoder/src/lib.rs
  frame/support/Cargo.toml
  frame/support/src/lib.rs
  primitives/asset/Cargo.toml
  primitives/asset/src/lib.rs
  primitives/asset/src/token.rs
  primitives/contract/Cargo.toml
  primitives/contract/src/lib.rs
  primitives/contract/src/mapping_token_factory.rs
  tests/dvm/tests/config.js
Labels: Bridge, P7 High

#703 Update dvm from 399
  Cargo.lock
  bin/node/cli/src/command.rs
  bin/node/cli/src/service.rs
  bin/node/runtime/pangolin/Cargo.toml
  bin/node/runtime/pangolin/src/lib.rs
  bin/node/runtime/pangolin/src/pallets/dvm.rs
  bin/node/runtime/pangolin/src/pallets/evm_.rs
  bin/node/runtime/pangolin/src/pallets/system/mod.rs
  client/dvm/rpc/Cargo.toml
  client/dvm/rpc/src/eth_pubsub.rs
  frame/bridge/s2s/issuing/src/tests.rs
  frame/dvm/Cargo.toml
  frame/dvm/rpc/runtime-api/src/lib.rs
  frame/dvm/src/account_basic.rs
  frame/dvm/src/lib.rs
  frame/dvm/src/mock.rs
  frame/dvm/src/tests.rs
  frame/evm/Cargo.toml
  frame/evm/precompile/contracts/blake2/Cargo.toml
  frame/evm/precompile/contracts/blake2/src/lib.rs
  frame/evm/precompile/contracts/bn128/Cargo.toml
  frame/evm/precompile/contracts/bn128/src/lib.rs
  frame/evm/precompile/contracts/curve25519/Cargo.toml
  frame/evm/precompile/contracts/dispatch/Cargo.toml
  frame/evm/precompile/contracts/dispatch/src/lib.rs
  frame/evm/precompile/contracts/ed25519/Cargo.toml
  frame/evm/precompile/contracts/empty/Cargo.toml
  frame/evm/precompile/contracts/encoder/Cargo.toml
  frame/evm/precompile/contracts/encoder/src/lib.rs
  frame/evm/precompile/contracts/issuing/Cargo.toml
  frame/evm/precompile/contracts/issuing/src/lib.rs
  frame/evm/precompile/contracts/modexp/Cargo.toml
  frame/evm/precompile/contracts/modexp/src/lib.rs
  frame/evm/precompile/contracts/sha3fips/Cargo.toml
  frame/evm/precompile/contracts/simple/Cargo.toml
  frame/evm/precompile/contracts/transfer/Cargo.toml
  frame/evm/precompile/contracts/transfer/src/kton.rs
  frame/evm/precompile/contracts/transfer/src/lib.rs
  frame/evm/precompile/contracts/transfer/src/ring.rs
  frame/evm/src/lib.rs
  frame/evm/src/runner/stack.rs
  frame/evm/src/tests.rs
  primitives/evm/Cargo.toml
  primitives/evm/src/precompile.rs
Labels: DVM Update, Dependency Update, P4 Mid

#714 add mapping token factory setting
  frame/bridge/s2s/issuing/src/benchmarking.rs
  frame/bridge/s2s/issuing/src/lib.rs
  frame/bridge/s2s/issuing/src/weight.rs
Labels: Pangolin

#717 Enable mapping-worker only in archive mode
  bin/node/cli/src/service.rs
  client/dvm/mapping-sync/src/worker.rs
Labels: Crab, Pangolin

#718 Gas to weight = ?
  Cargo.lock
  bin/node/runtime/pangolin/Cargo.toml
  bin/node/runtime/pangolin/src/lib.rs
  bin/node/runtime/pangolin/src/pallets/evm_.rs
  frame/evm/Cargo.toml
  frame/evm/src/benchmarking.rs
  frame/evm/src/lib.rs
  frame/evm/src/weight.rs
Labels: DVM, P7 High, Pangolin

#708 Refactor Ethereum Primitives
  .maintain/check-default-features/src/main.rs
  Cargo.lock
  Cargo.toml
  bin/node/cli/src/chain_spec.rs
  bin/node/runtime/pangolin/Cargo.toml
  bin/node/runtime/pangolin/polkadot-compatible-types.json
  bin/node/runtime/pangolin/src/lib.rs
  bin/node/runtime/pangolin/src/pallets/ethereum_relay.rs
  bin/node/runtime/pangolin/types.json
  docs/CODEOWNERS
  frame/bridge/ethereum/backing/Cargo.toml
  frame/bridge/ethereum/backing/src/lib.rs
  frame/bridge/ethereum/backing/src/test_with_linear_relay.rs
  frame/bridge/ethereum/backing/src/test_with_relay.rs
  frame/bridge/ethereum/issuing/Cargo.toml
  frame/bridge/ethereum/linear-relay/Cargo.toml
  frame/bridge/ethereum/linear-relay/src/lib.rs
  frame/bridge/ethereum/linear-relay/src/mock.rs
  frame/bridge/ethereum/linear-relay/src/tests.rs
  frame/bridge/ethereum/relay/Cargo.toml
  frame/bridge/ethereum/relay/src/lib.rs
  frame/bridge/ethereum/relay/src/mock.rs
  frame/bridge/ethereum/relay/src/test_data.rs
  frame/bridge/ethereum/relay/src/tests.rs
  frame/bridge/relayer-game/src/lib.rs
  frame/bridge/relayer-game/src/tests.rs
  frame/bridge/s2s/backing/Cargo.toml
  frame/bridge/s2s/issuing/Cargo.toml
  frame/dvm/src/mock.rs
  frame/support/Cargo.toml
  primitives/asset/Cargo.toml
  primitives/ethereum-primitives/Cargo.toml
  primitives/ethereum-primitives/src/error.rs
  primitives/ethereum-primitives/src/ethashproof.rs
  primitives/ethereum-primitives/src/header.rs
  primitives/ethereum-primitives/src/lib.rs
  primitives/ethereum/Cargo.toml
  primitives/ethereum/src/error.rs
  primitives/ethereum/src/ethashproof.rs
  primitives/ethereum/src/header.rs
  primitives/ethereum/src/lib.rs
  primitives/ethereum/src/pow.rs
  primitives/ethereum/src/receipt.rs
  primitives/merkle-patricia-trie/src/error.rs
Labels: Break Type Definition, Bridge, Crab, Darwinia, Dependency Update, Migration Added, P9 High, Pangolin, Test Improvement

#719 Pangolin.2502 (REGENESIS)
  .maintain/docker/Dockerfile.aarch64-linux-gnu
  .maintain/docker/Dockerfile.x86_64-linux-gnu
  Cargo.lock
  bin/node/cli/src/chain_spec.rs
  bin/node/runtime/pangolin/polkadot-compatible-types.json
  bin/node/runtime/pangolin/src/lib.rs
  bin/node/runtime/pangolin/types.json
  bin/res/pangolin/pangolin.json
  frame/balances/src/lib.rs
  frame/bridge/crab/issuing/src/lib.rs
  frame/bridge/ethereum/backing/src/lib.rs
  frame/bridge/ethereum/relay/src/lib.rs
  frame/bridge/ethereum/relay/src/mock.rs
  frame/bridge/relay-authorities/src/lib.rs
  frame/dvm/src/lib.rs
  frame/header-mmr/Cargo.toml
  frame/header-mmr/mmr.json
  frame/header-mmr/src/lib.rs
  frame/header-mmr/src/mock.rs
  frame/header-mmr/src/primitives.rs
  frame/header-mmr/src/tests.rs
Labels: Break Type Definition, CI/CD, Migration Removed, Pangolin

#721 v0.11.1 Preview
  Cargo.lock
  bin/node/runtime/pangolin/polkadot-compatible-types.json
  bin/node/runtime/pangolin/src/lib.rs
  bin/node/runtime/pangolin/src/pallets/header_mmr.rs
  bin/node/runtime/pangolin/types.json
  frame/bridge/ethereum/backing/src/lib.rs
  frame/bridge/ethereum/backing/src/mock.rs
  frame/bridge/relay-authorities/Cargo.toml
  frame/bridge/relay-authorities/src/lib.rs
  frame/bridge/relay-authorities/src/mock.rs
  frame/bridge/relay-authorities/src/test.rs
  frame/header-mmr/Cargo.toml
  frame/header-mmr/mmr.json
  frame/header-mmr/rpc/runtime-api/src/lib.rs
  frame/header-mmr/rpc/src/lib.rs
  frame/header-mmr/src/lib.rs
  frame/header-mmr/src/mock.rs
  frame/header-mmr/src/primitives.rs
  frame/header-mmr/src/tests.rs
  frame/header-mmr/src/weights.rs
  primitives/relay/src/relay_authorities.rs
Labels: Patch

#723 Cherry Pick #642
  bin/node/runtime/pangolin/src/lib.rs
  frame/democracy/src/lib.rs
  frame/dvm-dynamic-fee/src/lib.rs
Labels: Crab, Patch

#727 Update `EthereumHeader` Type
  bin/node/runtime/pangolin/polkadot-compatible-types.json
  bin/node/runtime/pangolin/types.json
Labels: Break Type Definition, Pangolin

#729 Remove useless type in evm pallet
  Cargo.lock
  bin/node/runtime/pangolin/src/pallets/evm_.rs
  frame/bridge/s2s/issuing/src/tests.rs
  frame/dvm/src/mock.rs
  frame/dvm/src/tests.rs
  frame/evm/src/lib.rs
  frame/evm/src/tests.rs
Labels: DVM
