Repository darwinia-network/darwinia-common, pull requests merged in 2021-08, with the labels that each got.

#731 refactor: ethereum to darwinia erc20 bridge
  Cargo.lock
  Cargo.toml
  bin/node/cli/src/chain_spec.rs
  bin/node/runtime/pangolin/Cargo.toml
  bin/node/runtime/pangolin/src/lib.rs
  bin/node/runtime/pangolin/src/pallets/ethereum_issuing.rs
  bin/node/runtime/pangolin/src/pallets/evm_.rs
  frame/bridge/ethereum/issuing/Cargo.toml
  frame/bridge/ethereum/issuing/contract/Cargo.toml
  frame/bridge/ethereum/issuing/contract/src/lib.rs
  frame/bridge/ethereum/issuing/src/benchmarking.rs
  frame/bridge/ethereum/issuing/src/lib.rs
  frame/bridge/ethereum/issuing/src/mock_header.rs
  frame/bridge/ethereum/issuing/src/weight.rs
  frame/bridge/ethereum/issuing/src/weights.rs
  frame/bridge/s2s/issuing/src/lib.rs
  frame/bridge/s2s/issuing/src/tests.rs
  frame/dvm/src/mock.rs
  frame/evm/precompile/contracts/encoder/Cargo.toml
  frame/evm/precompile/contracts/encoder/src/lib.rs
  frame/evm/precompile/contracts/issuing/Cargo.toml
  frame/evm/precompile/contracts/issuing/src/lib.rs
  frame/evm/src/lib.rs
  frame/evm/src/tests.rs
  primitives/contract/Cargo.toml
  primitives/contract/src/ethereum_backing.rs
  primitives/contract/src/lib.rs
  primitives/contract/src/mapping_token_factory.rs
Labels: Bridge, P7 High

#733 Refactor CI
  .github/workflows/ci.yml
  .maintain/check-default-features/Cargo.lock
  .maintain/check-default-features/Cargo.toml
  .maintain/check-default-features/src/main.rs
  Cargo.lock
  bin/node/cli/src/command.rs
Labels: P9 High, Pangolin, CI/CD

#728 feat: add verify header fn
  frame/bridge/ethereum-bsc/Cargo.toml
  frame/bridge/ethereum-bsc/src/lib.rs
  frame/bridge/ethereum-bsc/src/tests.rs
  primitives/chain-bsc/Cargo.toml
  primitives/chain-bsc/src/lib.rs
Labels: Bridge, P5 Mid, Slient

#740 Correct Path
  tests/pangolin-local-testnet/deploy.sh
Labels: Test Improvement

#744 Drop `linear-relay`
  Cargo.lock
  Cargo.toml
  docs/CODEOWNERS
  frame/bridge/ethereum/backing/Cargo.toml
  frame/bridge/ethereum/backing/src/lib.rs
  frame/bridge/ethereum/backing/src/mock.rs
  frame/bridge/ethereum/backing/src/test_with_linear_relay.rs
  frame/bridge/ethereum/backing/src/tests.rs
  frame/bridge/ethereum/linear-relay/Cargo.toml
  frame/bridge/ethereum/linear-relay/README.md
  frame/bridge/ethereum/linear-relay/build.rs
  frame/bridge/ethereum/linear-relay/src/lib.rs
  frame/bridge/ethereum/linear-relay/src/mock.rs
  frame/bridge/ethereum/linear-relay/src/test-data/8996776.json
  frame/bridge/ethereum/linear-relay/src/test-data/8996777.json
  frame/bridge/ethereum/linear-relay/src/test-data/8996778.json
  frame/bridge/ethereum/linear-relay/src/test-data/ropsten_child_7575769_scale.json
  frame/bridge/ethereum/linear-relay/src/test-data/ropsten_current_7575768_scale.json
  frame/bridge/ethereum/linear-relay/src/test-data/ropsten_grandpa_7575766_scale.json
  frame/bridge/ethereum/linear-relay/src/test-data/ropsten_origin_7575765_scale.json
  frame/bridge/ethereum/linear-relay/src/test-data/ropsten_parent_7575767_scale.json
  frame/bridge/ethereum/linear-relay/src/test-data/ropsten_uncle_7575766_scale.json
  frame/bridge/ethereum/linear-relay/src/tests.rs
  frame/bridge/ethereum/linear-relay/src/weights.rs
Labels: Bridge

#713 Update dvm transact and call usage
  Cargo.lock
  frame/bridge/ethereum/issuing/src/lib.rs
  frame/bridge/s2s/issuing/src/lib.rs
  frame/dvm/Cargo.toml
  frame/dvm/rpc/runtime-api/src/lib.rs
  frame/dvm/src/lib.rs
  frame/dvm/src/mock.rs
  frame/dvm/src/tests.rs
  frame/support/Cargo.toml
  frame/support/src/lib.rs
Labels: DVM, P7 High, Pangolin

#751 CI Test All
  .github/workflows/ci.yml
Labels: CI/CD

#730 Code Cleaning
  bin/node/cli/src/cli.rs
  bin/node/cli/src/command.rs
  bin/node/cli/src/service.rs
  bin/node/runtime/pangolin/src/pallets/evm_.rs
  frame/evm/precompile/contracts/encoder/Cargo.toml
  frame/support/Cargo.toml
Labels: Slient

#747 Pre-Verify for Ethereum Relay
  frame/bridge/ethereum/backing/src/mock.rs
  frame/bridge/ethereum/relay/src/lib.rs
  frame/bridge/ethereum/relay/src/mock.rs
  frame/bridge/ethereum/relay/src/tests.rs
  frame/bridge/relayer-game/src/lib.rs
  frame/bridge/relayer-game/src/mock.rs
  primitives/relay/src/relayer_game.rs
Labels: Bridge

#758 Remove useless empty precompile
  Cargo.lock
  Cargo.toml
  frame/evm/precompile/contracts/empty/Cargo.toml
  frame/evm/precompile/contracts/empty/src/lib.rs
Labels: DVM

#761 Use `Membership` & `PhragmenElection` to Initialize Collective Members
  bin/node/cli/src/chain_spec.rs
Labels: Pangolin

#759 Use Parity Treasury & Tips
  Cargo.lock
  Cargo.toml
  README.md
  bin/node/cli/src/chain_spec.rs
  bin/node/runtime/pangolin/Cargo.toml
  bin/node/runtime/pangolin/polkadot-compatible-types.json
  bin/node/runtime/pangolin/src/lib.rs
  bin/node/runtime/pangolin/src/pallets/bounties.rs
  bin/node/runtime/pangolin/src/pallets/election_provider_multi_phase.rs
  bin/node/runtime/pangolin/src/pallets/mod.rs
  bin/node/runtime/pangolin/src/pallets/proxy.rs
  bin/node/runtime/pangolin/src/pallets/staking.rs
  bin/node/runtime/pangolin/src/pallets/tips.rs
  bin/node/runtime/pangolin/src/pallets/treasury.rs
  bin/node/runtime/pangolin/types.json
  frame/staking/src/lib.rs
  frame/support/src/lib.rs
  frame/support/src/traits.rs
  frame/treasury/Cargo.toml
  frame/treasury/README.adoc
  frame/treasury/src/lib.rs
  frame/treasury/src/mock.rs
  frame/treasury/src/tests.rs
  frame/treasury/src/weights.rs
  primitives/merkle-patricia-trie/src/error.rs
Labels: Migration Added, Break Type Definition, Multi-Currencies, Break Storage, Break API, Crab, Darwinia, Pangolin

#760 A dispatch call for internal transact
  frame/dvm/src/lib.rs
  frame/dvm/src/tests.rs
Labels: Slient

#768 Correct `ProposalCount` & `Approvals`
  bin/node/runtime/pangolin/src/lib.rs
Labels: Migration Added, Crab, Darwinia, Pangolin

#774 Release Pangolin 2610
  Cargo.lock
  bin/node/bridge-primitives/pangolin/Cargo.toml
  bin/node/cli/Cargo.toml
  bin/node/primitives/Cargo.toml
  bin/node/runtime/pangolin/Cargo.toml
  bin/node/runtime/pangolin/src/constants/Cargo.toml
  bin/node/runtime/pangolin/src/lib.rs
  bin/node/runtime/pangolin/src/pallets/system/params/Cargo.toml
  client/dvm/db/Cargo.toml
  client/dvm/mapping-sync/Cargo.toml
  client/dvm/rpc/Cargo.toml
  frame/balances/Cargo.toml
  frame/balances/rpc/Cargo.toml
  frame/balances/rpc/runtime-api/Cargo.toml
  frame/bridge/crab/issuing/Cargo.toml
  frame/bridge/ethereum-bsc/Cargo.toml
  frame/bridge/ethereum/backing/Cargo.toml
  frame/bridge/ethereum/issuing/Cargo.toml
  frame/bridge/ethereum/relay/Cargo.toml
  frame/bridge/relay-authorities/Cargo.toml
  frame/bridge/relayer-game/Cargo.toml
  frame/bridge/s2s/backing/Cargo.toml
  frame/bridge/tron/backing/Cargo.toml
  frame/claims/Cargo.toml
  frame/democracy/Cargo.toml
  frame/dvm-dynamic-fee/Cargo.toml
  frame/dvm/Cargo.toml
  frame/dvm/rpc/Cargo.toml
  frame/dvm/rpc/runtime-api/Cargo.toml
  frame/elections-phragmen/Cargo.toml
  frame/evm/Cargo.toml
  frame/evm/precompile/contracts/blake2/Cargo.toml
  frame/evm/precompile/contracts/bn128/Cargo.toml
  frame/evm/precompile/contracts/curve25519/Cargo.toml
  frame/evm/precompile/contracts/dispatch/Cargo.toml
  frame/evm/precompile/contracts/ed25519/Cargo.toml
  frame/evm/precompile/contracts/encoder/Cargo.toml
  frame/evm/precompile/contracts/modexp/Cargo.toml
  frame/evm/precompile/contracts/simple/Cargo.toml
  frame/evm/precompile/contracts/transfer/Cargo.toml
  frame/header-mmr/Cargo.toml
  frame/header-mmr/rpc/Cargo.toml
  frame/header-mmr/rpc/runtime-api/Cargo.toml
  frame/staking/Cargo.toml
  frame/staking/rpc/Cargo.toml
  frame/staking/rpc/runtime-api/Cargo.toml
  frame/support/Cargo.toml
  frame/vesting/Cargo.toml
  primitives/asset/Cargo.toml
  primitives/chain-bsc/Cargo.toml
  primitives/consensus/Cargo.toml
  primitives/contract/Cargo.toml
  primitives/ethereum/Cargo.toml
  primitives/evm/Cargo.toml
  primitives/merkle-patricia-trie/Cargo.toml
  primitives/relay/Cargo.toml
  primitives/rpc/Cargo.toml
  primitives/storage/Cargo.toml
Labels: Pangolin

#781 Update Pangoro Token Symbol
  node/service/res/pangoro/pangoro.json
  node/service/src/chain_spec/pangoro.rs
Labels: Pangoro

#785 Set `spec_name` to `Pangoro`
  node/service/res/pangoro/pangoro.json
Labels: Pangoro

#786 Pangoro Bridge Primitives
  node/primitives/bridge/src/lib.rs
Labels: Bridge

#788 Rename `messages_dispatch_weight` to `message_details`
  node/primitives/bridge/src/lib.rs
Labels: Bridge
