Repository darwinia-network/darwinia-common, pull requests merged in 2021-03, with the labels that each got.

#490 Add kton precompile for evm
  Cargo.lock
  Cargo.toml
  frame/evm/precompile/Cargo.toml
  frame/evm/precompile/contracts/kton/Cargo.toml
  frame/evm/precompile/contracts/kton/src/lib.rs
  frame/evm/precompile/contracts/kton/src/util.rs
  frame/evm/precompile/src/lib.rs
Labels: A0-pleasereview, DVM

#556 Tag `ethash`
  Cargo.lock
  primitives/ethereum-primitives/Cargo.toml
Labels: Dependencies Updates

#557 Remove Migration
  bin/node/runtime/pangolin/src/lib.rs
  frame/elections-phragmen/src/lib.rs
  frame/elections-phragmen/src/migrations_2_0_0.rs
  frame/staking/src/lib.rs
Labels: Migration Removed

#552 test: #541 add test for try_claim_deposits_with_punish and inflation
  frame/staking/src/darwinia_tests.rs
  frame/staking/src/inflation_tests.rs
Labels: P3 Low, Test Improvement

#554 More tests about account basic mapping
  frame/dvm/Cargo.toml
  frame/dvm/src/account_basic.rs
  frame/dvm/src/lib.rs
  frame/dvm/src/tests.rs
  frame/evm/src/tests.rs
  script_tests/tests/1_test-transfer.js
Labels: DVM, P5 Mid

#565 Remove useless nonce ops
  frame/dvm/src/account_basic.rs
  frame/dvm/src/tests.rs
Labels: DVM

#571 Update dvm from 318
  Cargo.lock
  client/dvm/rpc/src/eth.rs
  frame/dvm/Cargo.toml
  frame/evm/Cargo.toml
  frame/evm/precompile/contracts/blake2/Cargo.toml
  frame/evm/precompile/contracts/bn128/Cargo.toml
  frame/evm/precompile/contracts/dispatch/Cargo.toml
  frame/evm/precompile/contracts/ed25519/Cargo.toml
  frame/evm/precompile/contracts/empty/Cargo.toml
  frame/evm/precompile/contracts/kton/Cargo.toml
  frame/evm/precompile/contracts/modexp/Cargo.toml
  frame/evm/precompile/contracts/modexp/src/lib.rs
  frame/evm/precompile/contracts/sha3fips/Cargo.toml
  frame/evm/precompile/contracts/simple/Cargo.toml
  frame/evm/precompile/contracts/withdraw/Cargo.toml
  primitives/evm/Cargo.toml
Labels: DVM Update, P7 High, Pangolin

#568 feat: migrate crab issuing to use pallet!
  Cargo.lock
  bin/node/cli/Cargo.toml
  bin/node/cli/src/chain_spec.rs
  bin/node/cli/src/command.rs
  bin/node/runtime/pangolin/Cargo.toml
  bin/node/runtime/pangolin/src/lib.rs
  frame/bridge/crab/issuing/Cargo.toml
  frame/bridge/crab/issuing/src/lib.rs
  frame/bridge/crab/issuing/src/mock.rs
  frame/staking/Cargo.toml
Labels: Break Storage, Migration Added, P3 Low

#560 feat: migrate crab backing to use pallet!
  bin/node/cli/src/chain_spec.rs
  bin/node/runtime/pangolin/src/lib.rs
  frame/bridge/crab/backing/src/lib.rs
Labels: P3 Low
