Repository darwinia-network/darwinia-common, pull requests merged in 2021-05, with the labels that each got.

#614 Update Address & Event
  Cargo.lock
  bin/node/cli/src/chain_spec.rs
  bin/node/runtime/pangolin/Cargo.toml
  bin/node/runtime/pangolin/src/lib.rs
  frame/bridge/ethereum/issuing/contract/src/lib.rs
  frame/bridge/ethereum/issuing/src/lib.rs
Labels: Pangolin

#613 Migrate `header-mmr` to Attribute Macro
  bin/node/runtime/pangolin/Cargo.toml
  bin/node/runtime/pangolin/src/lib.rs
  frame/header-mmr/Cargo.toml
  frame/header-mmr/src/lib.rs
  frame/header-mmr/src/mock.rs
  frame/header-mmr/src/tests.rs
Labels: Break Storage, Migration Added, Pangolin

#617 add msg.sender in ethereum backing lock event
  frame/bridge/ethereum/issuing/contract/src/lib.rs
  frame/bridge/ethereum/issuing/src/lib.rs
Labels: Bridge, Pangolin

#633 Initialize `relayer_fund_account`
  bin/node/runtime/pangolin/src/lib.rs
Labels: Slient

#638 Expose SudoCall
  bin/node/runtime/pangolin/src/lib.rs
Labels: Slient

#642 Remove Event `TargetMinGasPriceSet`
  bin/node/runtime/pangolin/src/lib.rs
  frame/democracy/src/lib.rs
  frame/dvm-dynamic-fee/src/lib.rs
Labels: Pangolin, Slient

#644 Migrate `dvm-dynamic-fee` to Attribute Macro
  Cargo.lock
  bin/node/cli/src/chain_spec.rs
  bin/node/runtime/pangolin/src/lib.rs
  bin/node/runtime/pangolin/src/pallets/dynamic_fee.rs
  frame/bridge/crab/backing/src/lib.rs
  frame/bridge/ethereum/backing/src/lib.rs
  frame/dvm-dynamic-fee/Cargo.toml
  frame/dvm-dynamic-fee/src/lib.rs
  frame/dvm/src/lib.rs
Labels: Slient
