Repository darwinia-network/darwinia-common, pull requests merged in 2022-02, with the labels that each got.

#1072 Update Pangoro/Pangolin Bootnodes
  node/service/res/pangolin/pangolin.json
  node/service/res/pangoro/pangoro.json
Labels: Pangolin, Pangoro

#1073 Bridge BSC Testnet to Pangoro
  Cargo.lock
  frame/bridge/bsc/src/benchmarking.rs
  frame/bridge/bsc/src/lib.rs
  frame/bridge/bsc/src/mock.rs
  frame/bridge/bsc/src/tests.rs
  frame/bridge/bsc/src/weight.rs
  node/runtime/pangolin/Cargo.toml
  node/runtime/pangolin/src/lib.rs
  node/runtime/pangolin/src/pallets/evm.rs
  node/runtime/pangolin/src/pallets/mod.rs
  node/runtime/pangoro/Cargo.toml
  node/runtime/pangoro/src/lib.rs
  node/runtime/pangoro/src/pallets/bridge_bsc.rs
  node/runtime/pangoro/src/pallets/evm.rs
  node/runtime/pangoro/src/pallets/mod.rs
  node/runtime/template/src/pallets/evm.rs
  node/runtime/template/src/pallets/mod.rs
  node/service/src/chain_spec/pangolin.rs
  node/service/src/chain_spec/pangoro.rs
  primitives/bsc/src/lib.rs
Labels: Bridge, Pangolin, Pangoro

#1080 Remove Old Migration
  frame/bridge/bsc/src/lib.rs
  node/runtime/pangolin/src/lib.rs
  node/runtime/pangoro/src/lib.rs
Labels: Break API, Pangolin, Pangoro

#1087 Optimize Features
  Cargo.lock
  node/runtime/pangolin/Cargo.toml
  node/runtime/pangoro/Cargo.toml
  primitives/evm-trace/ext/Cargo.toml
Labels: Housekeeping

#1088 Better BEEFY Log
  frame/beefy-gadget/src/lib.rs
Labels: BEEFY

#1089 Correct BEEFY Key Length
  node/runtime/pangolin/src/lib.rs
  node/runtime/pangoro/src/lib.rs
Labels: Bug on Migration, BEEFY

#1091 Update BEEFY Specification
  frame/beefy-gadget/src/lib.rs
  node/runtime/pangolin/src/lib.rs
  node/runtime/pangoro/src/lib.rs
  primitives/beefy/src/network_ids.rs
Labels: BEEFY

#1096 Remove Old Migration
  node/runtime/pangolin/src/lib.rs
  node/runtime/pangoro/src/lib.rs
Labels: Pangolin, Pangoro

#1101 Register BEEFY Networking Protocol
  node/service/src/service/mod.rs
Labels: Pangolin, Pangoro, BEEFY

#1098 Fix the potential panic
  client/dvm/rpc/src/debug.rs
Labels: Bug on Client
