Repository darwinia-network/darwinia-common, pull requests merged in 2022-09, with the labels that each got.

#1423 Rebuild Pangolin Genesis
  node/service/res/pangolin/pangolin.json
Labels: N-Pangolin

#1426 Release `v2.9.4`
  Cargo.lock
  frame/balances/Cargo.toml
  frame/bridge/ecdsa-authority/Cargo.toml
  frame/bridge/ethereum/Cargo.toml
  frame/bridge/message-gadget/Cargo.toml
  frame/bridge/relay-authority/Cargo.toml
  frame/bridge/relayer-game/Cargo.toml
  frame/dvm/ethereum/Cargo.toml
  frame/dvm/evm/Cargo.toml
  frame/dvm/evm/precompiles/bls12381/Cargo.toml
  frame/dvm/evm/precompiles/bridge/s2s/Cargo.toml
  frame/dvm/evm/precompiles/dispatch/Cargo.toml
  frame/dvm/evm/precompiles/kton/Cargo.toml
  frame/dvm/evm/precompiles/state-storage/Cargo.toml
  frame/dvm/evm/precompiles/transfer/Cargo.toml
  frame/dvm/evm/precompiles/utils/Cargo.toml
  frame/dvm/evm/precompiles/utils/macro/Cargo.toml
  frame/header-mmr/Cargo.toml
  frame/staking/Cargo.toml
  frame/support/Cargo.toml
  frame/transaction-pause/Cargo.toml
  frame/wormhole/backing/ethereum/Cargo.toml
  frame/wormhole/backing/parachain/Cargo.toml
  frame/wormhole/backing/s2s/Cargo.toml
  frame/wormhole/backing/tron/Cargo.toml
  frame/wormhole/issuing/s2s/Cargo.toml
  node/cli/Cargo.toml
  node/primitives/Cargo.toml
  node/rpc/Cargo.toml
  node/runtime/common/Cargo.toml
  node/runtime/pangolin/Cargo.toml
  node/runtime/pangolin/src/lib.rs
  node/runtime/pangoro/Cargo.toml
  node/runtime/pangoro/src/lib.rs
  node/runtime/template/Cargo.toml
  node/service/Cargo.toml
  node/service/res/pangolin/pangolin.json
  node/service/res/pangoro/pangoro.json
  node/service/src/chain_spec/pangolin.rs
  node/service/src/chain_spec/pangoro.rs
  primitives/asset/Cargo.toml
  primitives/contract/Cargo.toml
  primitives/ethereum/Cargo.toml
  primitives/evm-trace/ext/Cargo.toml
  primitives/evm-trace/tracer/Cargo.toml
  primitives/merkle-patricia-trie/Cargo.toml
  primitives/message/Cargo.toml
  primitives/relayer-game/Cargo.toml
  primitives/s2s/Cargo.toml
Labels: N-Pangolin, U-Release, N-Pangoro

#1427 Bump Runtime Version
  node/runtime/pangolin/src/lib.rs
  node/runtime/pangoro/src/lib.rs
Labels: N-Pangolin, U-Release, N-Pangoro

#1428 Update Match Pattern
  .github/workflows/release.yml
Labels: U-CI/CD

#1429 Set `sync_from` to Zero
  node/service/src/service/mod.rs
Labels: N-Pangoro

#1430 Add runtime `multiplier_tests`
  Cargo.lock
  node/runtime/common/src/lib.rs
  node/runtime/pangolin/Cargo.toml
  node/runtime/pangolin/src/lib.rs
  node/runtime/pangoro/Cargo.toml
  node/runtime/pangoro/src/lib.rs
Labels: U-Test Improvement

#1431 Fix ignored EVM tests
  frame/dvm/evm/src/tests.rs
Labels: U-Test Improvement

#1450 Code clean
  node/runtime/common/src/impls.rs
  node/runtime/pangolin/src/bridges_message/pangolin_parachain.rs
  node/runtime/pangolin/src/bridges_message/pangoro.rs
  node/runtime/pangoro/src/bridges_message/pangolin.rs
Labels: U-Housekeeping

#1448 Add some codes to the precompile accounts
  node/runtime/pangolin/src/migrations.rs
  node/runtime/pangoro/src/migrations.rs
  node/service/src/chain_spec/pangolin.rs
  node/service/src/chain_spec/pangoro.rs
  tests/dvm/darwinia/tests/test-precompile-bytes.ts
Labels: N-Pangolin, N-Pangoro

#1454 Companions from `darwinia-message-substrate`
  Cargo.lock
  frame/dvm/evm/precompiles/state-storage/src/tests.rs
  node/runtime/common/Cargo.toml
  node/runtime/common/src/impls.rs
  node/runtime/pangolin/src/bridges_message/pangolin_parachain.rs
  node/runtime/pangolin/src/bridges_message/pangoro.rs
  node/runtime/pangolin/src/pallets/fee_market.rs
  node/runtime/pangoro/src/bridges_message/pangolin.rs
  node/runtime/pangoro/src/pallets/fee_market.rs
Labels: C-S2S

#1453 Bridge Pangolin Parachain Alpha
  Cargo.lock
  node/runtime/pangolin/src/bridges_message/mod.rs
  node/runtime/pangolin/src/bridges_message/pangolin_parachain_alpha.rs
  node/runtime/pangolin/src/lib.rs
  node/runtime/pangolin/src/pallets/bridge_dispatch.rs
  node/runtime/pangolin/src/pallets/bridge_grandpa.rs
  node/runtime/pangolin/src/pallets/bridge_messages.rs
  node/runtime/pangolin/src/pallets/bridge_parachains.rs
  node/runtime/pangolin/src/pallets/fee_market.rs
Labels: N-Pangolin, C-S2S
