Repository darwinia-network/darwinia-common, pull requests merged in 2022-06, with the labels that each got.

#1256 Fix Staking Locked Amount
  frame/balances/src/migration.rs
  frame/support/src/structs.rs
  rust-toolchain.toml
Labels: N-Darwinia, S-Patch

#1281 Release `v2.8.12`
  Cargo.lock
  frame/balances/Cargo.toml
  frame/balances/rpc/Cargo.toml
  frame/balances/rpc/runtime-api/Cargo.toml
  frame/beefy-gadget/Cargo.toml
  frame/bridge/bsc/Cargo.toml
  frame/bridge/ethereum/Cargo.toml
  frame/bridge/relay-authorities/Cargo.toml
  frame/bridge/relayer-game/Cargo.toml
  frame/dvm/ethereum/Cargo.toml
  frame/dvm/evm/Cargo.toml
  frame/dvm/evm/precompiles/bls12381/Cargo.toml
  frame/dvm/evm/precompiles/bridge/ethereum/Cargo.toml
  frame/dvm/evm/precompiles/bridge/s2s/Cargo.toml
  frame/dvm/evm/precompiles/dispatch/Cargo.toml
  frame/dvm/evm/precompiles/mpt/Cargo.toml
  frame/dvm/evm/precompiles/state-storage/Cargo.toml
  frame/dvm/evm/precompiles/transfer/Cargo.toml
  frame/dvm/evm/precompiles/utils/Cargo.toml
  frame/dvm/evm/precompiles/utils/macro/Cargo.toml
  frame/header-mmr/Cargo.toml
  frame/header-mmr/rpc/Cargo.toml
  frame/header-mmr/rpc/runtime-api/Cargo.toml
  frame/staking/Cargo.toml
  frame/staking/rpc/Cargo.toml
  frame/staking/rpc/runtime-api/Cargo.toml
  frame/support/Cargo.toml
  frame/transaction-pause/Cargo.toml
  frame/wormhole/backing/ethereum/Cargo.toml
  frame/wormhole/backing/parachain/Cargo.toml
  frame/wormhole/backing/s2s/Cargo.toml
  frame/wormhole/backing/tron/Cargo.toml
  frame/wormhole/issuing/ethereum/Cargo.toml
  frame/wormhole/issuing/s2s/Cargo.toml
  node/cli/Cargo.toml
  node/primitives/Cargo.toml
  node/rpc/Cargo.toml
  node/runtime/common/Cargo.toml
  node/runtime/pangolin/Cargo.toml
  node/runtime/pangolin/src/lib.rs
  node/runtime/pangoro/Cargo.toml
  node/runtime/pangoro/src/lib.rs
  node/runtime/template/Cargo.toml
  node/service/Cargo.toml
  primitives/asset/Cargo.toml
  primitives/beefy/Cargo.toml
  primitives/bsc/Cargo.toml
  primitives/contract/Cargo.toml
  primitives/ethereum/Cargo.toml
  primitives/evm-trace/ext/Cargo.toml
  primitives/evm-trace/tracer/Cargo.toml
  primitives/merkle-patricia-trie/Cargo.toml
  primitives/relay/Cargo.toml
  primitives/s2s/Cargo.toml
Labels: N-Pangolin, U-Release, N-Pangoro

#1285 Remove Double Space
  frame/beefy-gadget/src/lib.rs
  frame/bridge/bsc/src/benchmarking.rs
  frame/dvm/evm/precompiles/bls12381/src/lib.rs
  frame/dvm/evm/precompiles/bridge/ethereum/src/lib.rs
  frame/dvm/evm/precompiles/bridge/s2s/src/lib.rs
  frame/dvm/evm/precompiles/mpt/src/lib.rs
  frame/dvm/evm/precompiles/state-storage/src/lib.rs
  frame/dvm/evm/precompiles/transfer/src/lib.rs
  frame/dvm/evm/precompiles/transfer/src/tests/mod.rs
  frame/dvm/evm/precompiles/utils/macro/src/lib.rs
  frame/dvm/evm/precompiles/utils/macro/tests/tests.rs
  frame/dvm/evm/precompiles/utils/src/lib.rs
  frame/dvm/evm/src/benchmarking.rs
  frame/wormhole/backing/parachain/src/benchmarking.rs
  frame/wormhole/backing/parachain/src/lib.rs
  frame/wormhole/backing/s2s/src/benchmarking.rs
  frame/wormhole/backing/s2s/src/lib.rs
  frame/wormhole/backing/s2s/src/tests.rs
  frame/wormhole/issuing/ethereum/src/benchmarking.rs
  frame/wormhole/issuing/ethereum/src/lib.rs
  frame/wormhole/issuing/s2s/src/benchmarking.rs
  frame/wormhole/issuing/s2s/src/lib.rs
  primitives/beefy/src/lib.rs
  primitives/beefy/src/network_ids.rs
  primitives/contract/src/abi_util.rs
  primitives/contract/src/beefy.rs
  primitives/contract/src/bls12381.rs
  primitives/contract/src/ethereum_backing.rs
  primitives/contract/src/lib.rs
  primitives/contract/src/mapping_token_factory/basic.rs
  primitives/contract/src/mapping_token_factory/ethereum2darwinia.rs
  primitives/contract/src/mapping_token_factory/s2s.rs
  primitives/contract/src/mpt.rs
Labels: U-Housekeeping

#1286 Remove Custom Balances RPC Call
  Cargo.lock
  Cargo.toml
  frame/balances/Cargo.toml
  frame/balances/rpc/Cargo.toml
  frame/balances/rpc/runtime-api/Cargo.toml
  frame/balances/rpc/runtime-api/src/lib.rs
  frame/balances/rpc/src/lib.rs
  frame/balances/src/lib.rs
  node/rpc/Cargo.toml
  node/rpc/src/lib.rs
  node/runtime/pangolin/Cargo.toml
  node/runtime/pangolin/src/lib.rs
  node/runtime/pangoro/Cargo.toml
  node/runtime/pangoro/src/lib.rs
  node/service/Cargo.toml
  node/service/src/service/api.rs
Labels: BK-API

#1304 Release `v2.8.13`
  Cargo.lock
  frame/balances/Cargo.toml
  frame/beefy-gadget/Cargo.toml
  frame/bridge/bsc/Cargo.toml
  frame/bridge/ethereum/Cargo.toml
  frame/bridge/relay-authorities/Cargo.toml
  frame/bridge/relayer-game/Cargo.toml
  frame/dvm/ethereum/Cargo.toml
  frame/dvm/evm/Cargo.toml
  frame/dvm/evm/precompiles/bls12381/Cargo.toml
  frame/dvm/evm/precompiles/bridge/ethereum/Cargo.toml
  frame/dvm/evm/precompiles/bridge/s2s/Cargo.toml
  frame/dvm/evm/precompiles/dispatch/Cargo.toml
  frame/dvm/evm/precompiles/mpt/Cargo.toml
  frame/dvm/evm/precompiles/state-storage/Cargo.toml
  frame/dvm/evm/precompiles/transfer/Cargo.toml
  frame/dvm/evm/precompiles/utils/Cargo.toml
  frame/dvm/evm/precompiles/utils/macro/Cargo.toml
  frame/header-mmr/Cargo.toml
  frame/staking/Cargo.toml
  frame/support/Cargo.toml
  frame/transaction-pause/Cargo.toml
  frame/wormhole/backing/ethereum/Cargo.toml
  frame/wormhole/backing/parachain/Cargo.toml
  frame/wormhole/backing/s2s/Cargo.toml
  frame/wormhole/backing/tron/Cargo.toml
  frame/wormhole/issuing/ethereum/Cargo.toml
  frame/wormhole/issuing/s2s/Cargo.toml
  node/cli/Cargo.toml
  node/primitives/Cargo.toml
  node/rpc/Cargo.toml
  node/runtime/common/Cargo.toml
  node/runtime/pangolin/Cargo.toml
  node/runtime/pangolin/src/lib.rs
  node/runtime/pangolin/src/migrations.rs
  node/runtime/pangoro/Cargo.toml
  node/runtime/pangoro/src/lib.rs
  node/runtime/template/Cargo.toml
  node/service/Cargo.toml
  primitives/asset/Cargo.toml
  primitives/beefy/Cargo.toml
  primitives/bsc/Cargo.toml
  primitives/contract/Cargo.toml
  primitives/ethereum/Cargo.toml
  primitives/evm-trace/ext/Cargo.toml
  primitives/evm-trace/tracer/Cargo.toml
  primitives/merkle-patricia-trie/Cargo.toml
  primitives/relay/Cargo.toml
  primitives/s2s/Cargo.toml
Labels: N-Pangolin, U-Release, N-Pangoro

#1305 Remove Unnecessary Wrapper
  node/runtime/pangolin/src/pallets/bridge_dispatch.rs
  node/runtime/pangolin/src/pallets/bridge_messages.rs
  node/runtime/pangoro/src/pallets/bridge_dispatch.rs
  node/runtime/pangoro/src/pallets/bridge_messages.rs
Labels: U-Housekeeping

#1309 Remove `DustCollector`
  Cargo.lock
  frame/balances/Cargo.toml
  frame/balances/src/lib.rs
  frame/balances/src/tests_local.rs
  frame/balances/src/tests_reentrancy.rs
  frame/bridge/ethereum/src/mock.rs
  frame/bridge/relay-authorities/src/mock.rs
  frame/bridge/relayer-game/src/mock.rs
  frame/dvm/ethereum/src/mock.rs
  frame/dvm/evm/precompiles/state-storage/src/tests.rs
  frame/dvm/evm/precompiles/transfer/src/tests/mock.rs
  frame/dvm/evm/src/tests.rs
  frame/staking/src/mock.rs
  frame/support/Cargo.toml
  frame/support/src/lib.rs
  frame/support/src/traits.rs
  frame/transaction-pause/src/mock.rs
  frame/wormhole/backing/ethereum/src/mock.rs
  frame/wormhole/backing/s2s/src/tests.rs
  frame/wormhole/issuing/s2s/src/mock.rs
  node/runtime/pangolin/src/pallets/balances.rs
  node/runtime/pangoro/src/pallets/balances.rs
  node/runtime/template/src/pallets/balances.rs
Labels: U-Multi-Currencies

#1315 Release `v2.8.14`
  Cargo.lock
  frame/balances/Cargo.toml
  frame/beefy-gadget/Cargo.toml
  frame/bridge/bsc/Cargo.toml
  frame/bridge/ethereum/Cargo.toml
  frame/bridge/relay-authorities/Cargo.toml
  frame/bridge/relayer-game/Cargo.toml
  frame/dvm/ethereum/Cargo.toml
  frame/dvm/evm/Cargo.toml
  frame/dvm/evm/precompiles/bls12381/Cargo.toml
  frame/dvm/evm/precompiles/bridge/ethereum/Cargo.toml
  frame/dvm/evm/precompiles/bridge/s2s/Cargo.toml
  frame/dvm/evm/precompiles/dispatch/Cargo.toml
  frame/dvm/evm/precompiles/mpt/Cargo.toml
  frame/dvm/evm/precompiles/state-storage/Cargo.toml
  frame/dvm/evm/precompiles/transfer/Cargo.toml
  frame/dvm/evm/precompiles/utils/Cargo.toml
  frame/dvm/evm/precompiles/utils/macro/Cargo.toml
  frame/header-mmr/Cargo.toml
  frame/staking/Cargo.toml
  frame/support/Cargo.toml
  frame/transaction-pause/Cargo.toml
  frame/wormhole/backing/ethereum/Cargo.toml
  frame/wormhole/backing/parachain/Cargo.toml
  frame/wormhole/backing/s2s/Cargo.toml
  frame/wormhole/backing/tron/Cargo.toml
  frame/wormhole/issuing/ethereum/Cargo.toml
  frame/wormhole/issuing/s2s/Cargo.toml
  node/cli/Cargo.toml
  node/primitives/Cargo.toml
  node/rpc/Cargo.toml
  node/runtime/common/Cargo.toml
  node/runtime/pangolin/Cargo.toml
  node/runtime/pangolin/src/lib.rs
  node/runtime/pangoro/Cargo.toml
  node/runtime/pangoro/src/lib.rs
  node/runtime/template/Cargo.toml
  node/service/Cargo.toml
  primitives/asset/Cargo.toml
  primitives/beefy/Cargo.toml
  primitives/bsc/Cargo.toml
  primitives/contract/Cargo.toml
  primitives/ethereum/Cargo.toml
  primitives/evm-trace/ext/Cargo.toml
  primitives/evm-trace/tracer/Cargo.toml
  primitives/merkle-patricia-trie/Cargo.toml
  primitives/relay/Cargo.toml
  primitives/s2s/Cargo.toml
Labels: N-Pangolin, U-Release, N-Pangoro
