Repository darwinia-network/darwinia-common, pull requests merged in 2022-04, with the labels that each got.

#1152 Add evm-tracing tests
  .github/workflows/ci.yml
  tests/dvm/darwinia/tests/test-tracing.ts
Labels: Test Improvement

#1160 Release v2.8.7
  Cargo.lock
  frame/balances/Cargo.toml
  frame/balances/rpc/Cargo.toml
  frame/balances/rpc/runtime-api/Cargo.toml
  frame/beefy-gadget/Cargo.toml
  frame/bridge/bsc/Cargo.toml
  frame/bridge/ethereum/Cargo.toml
  frame/bridge/relay-authorities/Cargo.toml
  frame/bridge/relayer-game/Cargo.toml
  frame/claims/Cargo.toml
  frame/democracy/Cargo.toml
  frame/dvm/ethereum/Cargo.toml
  frame/dvm/evm/Cargo.toml
  frame/dvm/evm/precompiles/bridge/ethereum/Cargo.toml
  frame/dvm/evm/precompiles/bridge/s2s/Cargo.toml
  frame/dvm/evm/precompiles/dispatch/Cargo.toml
  frame/dvm/evm/precompiles/transfer/Cargo.toml
  frame/dvm/evm/precompiles/utils/Cargo.toml
  frame/dvm/evm/precompiles/utils/macro/Cargo.toml
  frame/elections-phragmen/Cargo.toml
  frame/fee-market/Cargo.toml
  frame/fee-market/rpc/Cargo.toml
  frame/fee-market/rpc/runtime-api/Cargo.toml
  frame/header-mmr/Cargo.toml
  frame/header-mmr/rpc/Cargo.toml
  frame/header-mmr/rpc/runtime-api/Cargo.toml
  frame/staking/Cargo.toml
  frame/staking/rpc/Cargo.toml
  frame/staking/rpc/runtime-api/Cargo.toml
  frame/support/Cargo.toml
  frame/transaction-pause/Cargo.toml
  frame/vesting/Cargo.toml
  frame/wormhole/backing/ethereum/Cargo.toml
  frame/wormhole/backing/s2s/Cargo.toml
  frame/wormhole/backing/tron/Cargo.toml
  frame/wormhole/issuing/ethereum/Cargo.toml
  frame/wormhole/issuing/s2s/Cargo.toml
  node/cli/Cargo.toml
  node/primitives/Cargo.toml
  node/rpc/Cargo.toml
  node/runtime/common/Cargo.toml
  node/runtime/pangolin/Cargo.toml
  node/runtime/pangolin/src/lib.rs
  node/runtime/pangoro/Cargo.toml
  node/runtime/pangoro/src/lib.rs
  node/runtime/template/Cargo.toml
  node/service/Cargo.toml
  primitives/asset/Cargo.toml
  primitives/beefy/Cargo.toml
  primitives/bsc/Cargo.toml
  primitives/contract/Cargo.toml
  primitives/ethereum/Cargo.toml
  primitives/evm-trace/ext/Cargo.toml
  primitives/evm-trace/tracer/Cargo.toml
  primitives/merkle-patricia-trie/Cargo.toml
  primitives/relay/Cargo.toml
  primitives/s2s/Cargo.toml
Labels: Pangolin, Pangoro

#1169 Update gas_price for test networks
  Cargo.lock
  node/runtime/pangolin/Cargo.toml
  node/runtime/pangolin/src/pallets/evm.rs
  node/runtime/pangoro/Cargo.toml
  node/runtime/pangoro/src/pallets/evm.rs
  node/runtime/template/Cargo.toml
  tests/dvm/darwinia/tests/1-test-transfer.ts
  tests/dvm/darwinia/tests/2-test-log.ts
  tests/dvm/darwinia/tests/4-test-opcodes.ts
Labels: Pangolin, Pangoro

#1175 Force New for Devnet
  Cargo.lock
  node/runtime/pangolin/src/lib.rs
  node/runtime/pangoro/src/lib.rs
  node/service/Cargo.toml
  node/service/src/chain_spec/pangolin.rs
  node/service/src/chain_spec/pangoro.rs
Labels: Slient

#1176 Remove Unused Include Field
  .github/workflows/ci.yml
Labels: CI/CD, Slient

#1178 Auto Author Assign
  .github/workflows/auto-author-assign.yml
  .github/workflows/checks.yml
Labels: U-CI/CD

#1179 Release v2.8.8
  Cargo.lock
  frame/balances/Cargo.toml
  frame/balances/rpc/Cargo.toml
  frame/balances/rpc/runtime-api/Cargo.toml
  frame/beefy-gadget/Cargo.toml
  frame/bridge/bsc/Cargo.toml
  frame/bridge/ethereum/Cargo.toml
  frame/bridge/relay-authorities/Cargo.toml
  frame/bridge/relayer-game/Cargo.toml
  frame/claims/Cargo.toml
  frame/democracy/Cargo.toml
  frame/dvm/ethereum/Cargo.toml
  frame/dvm/evm/Cargo.toml
  frame/dvm/evm/precompiles/bridge/ethereum/Cargo.toml
  frame/dvm/evm/precompiles/bridge/s2s/Cargo.toml
  frame/dvm/evm/precompiles/dispatch/Cargo.toml
  frame/dvm/evm/precompiles/transfer/Cargo.toml
  frame/dvm/evm/precompiles/utils/Cargo.toml
  frame/dvm/evm/precompiles/utils/macro/Cargo.toml
  frame/elections-phragmen/Cargo.toml
  frame/fee-market/Cargo.toml
  frame/fee-market/rpc/Cargo.toml
  frame/fee-market/rpc/runtime-api/Cargo.toml
  frame/header-mmr/Cargo.toml
  frame/header-mmr/rpc/Cargo.toml
  frame/header-mmr/rpc/runtime-api/Cargo.toml
  frame/staking/Cargo.toml
  frame/staking/rpc/Cargo.toml
  frame/staking/rpc/runtime-api/Cargo.toml
  frame/support/Cargo.toml
  frame/transaction-pause/Cargo.toml
  frame/vesting/Cargo.toml
  frame/wormhole/backing/ethereum/Cargo.toml
  frame/wormhole/backing/s2s/Cargo.toml
  frame/wormhole/backing/tron/Cargo.toml
  frame/wormhole/issuing/ethereum/Cargo.toml
  frame/wormhole/issuing/s2s/Cargo.toml
  node/cli/Cargo.toml
  node/primitives/Cargo.toml
  node/rpc/Cargo.toml
  node/runtime/common/Cargo.toml
  node/runtime/pangolin/Cargo.toml
  node/runtime/pangolin/src/lib.rs
  node/runtime/pangoro/Cargo.toml
  node/runtime/pangoro/src/lib.rs
  node/runtime/template/Cargo.toml
  node/service/Cargo.toml
  primitives/asset/Cargo.toml
  primitives/beefy/Cargo.toml
  primitives/bsc/Cargo.toml
  primitives/contract/Cargo.toml
  primitives/ethereum/Cargo.toml
  primitives/evm-trace/ext/Cargo.toml
  primitives/evm-trace/tracer/Cargo.toml
  primitives/merkle-patricia-trie/Cargo.toml
  primitives/relay/Cargo.toml
  primitives/s2s/Cargo.toml
Labels: N-Pangolin, U-Release, N-Pangoro, U-Slient

#1181 Fix Try Runtime
  .maintain/darwinia-ensure-deps.sh
  .maintain/insert-session-keys.sh
  .maintain/monitoring/alerting-rules/alerting-rule-tests.yaml
  .maintain/monitoring/alerting-rules/alerting-rules.yaml
  .maintain/monitoring/grafana-dashboards/substrate-networking.json
  .maintain/monitoring/grafana-dashboards/substrate-service-tasks.json
  .maintain/purge-large-cache.sh
  .prettierignore
  node/runtime/pangolin/src/lib.rs
  node/runtime/pangoro/src/lib.rs
Labels: U-Slient

#1193 Release 2.8.9
  Cargo.lock
  frame/balances/Cargo.toml
  frame/balances/rpc/Cargo.toml
  frame/balances/rpc/runtime-api/Cargo.toml
  frame/beefy-gadget/Cargo.toml
  frame/bridge/bsc/Cargo.toml
  frame/bridge/ethereum/Cargo.toml
  frame/bridge/relay-authorities/Cargo.toml
  frame/bridge/relayer-game/Cargo.toml
  frame/claims/Cargo.toml
  frame/democracy/Cargo.toml
  frame/dvm/ethereum/Cargo.toml
  frame/dvm/evm/Cargo.toml
  frame/dvm/evm/precompiles/bridge/ethereum/Cargo.toml
  frame/dvm/evm/precompiles/bridge/s2s/Cargo.toml
  frame/dvm/evm/precompiles/dispatch/Cargo.toml
  frame/dvm/evm/precompiles/transfer/Cargo.toml
  frame/dvm/evm/precompiles/utils/Cargo.toml
  frame/dvm/evm/precompiles/utils/macro/Cargo.toml
  frame/elections-phragmen/Cargo.toml
  frame/fee-market/Cargo.toml
  frame/fee-market/rpc/Cargo.toml
  frame/fee-market/rpc/runtime-api/Cargo.toml
  frame/header-mmr/Cargo.toml
  frame/header-mmr/rpc/Cargo.toml
  frame/header-mmr/rpc/runtime-api/Cargo.toml
  frame/staking/Cargo.toml
  frame/staking/rpc/Cargo.toml
  frame/staking/rpc/runtime-api/Cargo.toml
  frame/support/Cargo.toml
  frame/transaction-pause/Cargo.toml
  frame/vesting/Cargo.toml
  frame/wormhole/backing/ethereum/Cargo.toml
  frame/wormhole/backing/s2s/Cargo.toml
  frame/wormhole/backing/tron/Cargo.toml
  frame/wormhole/issuing/ethereum/Cargo.toml
  frame/wormhole/issuing/s2s/Cargo.toml
  node/cli/Cargo.toml
  node/primitives/Cargo.toml
  node/rpc/Cargo.toml
  node/runtime/common/Cargo.toml
  node/runtime/pangolin/Cargo.toml
  node/runtime/pangolin/src/lib.rs
  node/runtime/pangolin/src/migrations.rs
  node/runtime/pangoro/Cargo.toml
  node/runtime/pangoro/src/lib.rs
  node/runtime/pangoro/src/migrations.rs
  node/runtime/template/Cargo.toml
  node/service/Cargo.toml
  primitives/asset/Cargo.toml
  primitives/beefy/Cargo.toml
  primitives/bsc/Cargo.toml
  primitives/contract/Cargo.toml
  primitives/ethereum/Cargo.toml
  primitives/evm-trace/ext/Cargo.toml
  primitives/evm-trace/tracer/Cargo.toml
  primitives/merkle-patricia-trie/Cargo.toml
  primitives/relay/Cargo.toml
  primitives/s2s/Cargo.toml
Labels: N-Pangolin, N-Pangoro, U-Slient

#1199 Release `v2.8.10`
  Cargo.lock
  frame/balances/Cargo.toml
  frame/balances/rpc/Cargo.toml
  frame/balances/rpc/runtime-api/Cargo.toml
  frame/beefy-gadget/Cargo.toml
  frame/bridge/bsc/Cargo.toml
  frame/bridge/ethereum/Cargo.toml
  frame/bridge/relay-authorities/Cargo.toml
  frame/bridge/relayer-game/Cargo.toml
  frame/claims/Cargo.toml
  frame/democracy/Cargo.toml
  frame/dvm/ethereum/Cargo.toml
  frame/dvm/evm/Cargo.toml
  frame/dvm/evm/precompiles/bridge/ethereum/Cargo.toml
  frame/dvm/evm/precompiles/bridge/s2s/Cargo.toml
  frame/dvm/evm/precompiles/dispatch/Cargo.toml
  frame/dvm/evm/precompiles/transfer/Cargo.toml
  frame/dvm/evm/precompiles/utils/Cargo.toml
  frame/dvm/evm/precompiles/utils/macro/Cargo.toml
  frame/elections-phragmen/Cargo.toml
  frame/fee-market/Cargo.toml
  frame/fee-market/rpc/Cargo.toml
  frame/fee-market/rpc/runtime-api/Cargo.toml
  frame/header-mmr/Cargo.toml
  frame/header-mmr/rpc/Cargo.toml
  frame/header-mmr/rpc/runtime-api/Cargo.toml
  frame/staking/Cargo.toml
  frame/staking/rpc/Cargo.toml
  frame/staking/rpc/runtime-api/Cargo.toml
  frame/support/Cargo.toml
  frame/transaction-pause/Cargo.toml
  frame/vesting/Cargo.toml
  frame/wormhole/backing/ethereum/Cargo.toml
  frame/wormhole/backing/s2s/Cargo.toml
  frame/wormhole/backing/tron/Cargo.toml
  frame/wormhole/issuing/ethereum/Cargo.toml
  frame/wormhole/issuing/s2s/Cargo.toml
  node/cli/Cargo.toml
  node/primitives/Cargo.toml
  node/rpc/Cargo.toml
  node/runtime/common/Cargo.toml
  node/runtime/pangolin/Cargo.toml
  node/runtime/pangolin/src/lib.rs
  node/runtime/pangolin/src/migrations.rs
  node/runtime/pangoro/Cargo.toml
  node/runtime/pangoro/src/lib.rs
  node/runtime/pangoro/src/migrations.rs
  node/runtime/template/Cargo.toml
  node/service/Cargo.toml
  primitives/asset/Cargo.toml
  primitives/beefy/Cargo.toml
  primitives/bsc/Cargo.toml
  primitives/contract/Cargo.toml
  primitives/ethereum/Cargo.toml
  primitives/evm-trace/ext/Cargo.toml
  primitives/evm-trace/tracer/Cargo.toml
  primitives/merkle-patricia-trie/Cargo.toml
  primitives/relay/Cargo.toml
  primitives/s2s/Cargo.toml
Labels: N-Pangolin, U-Release, N-Pangoro, U-Slient

#1205 Remove Incorrect Annotation
  frame/dvm/evm/precompiles/bridge/bsc/src/lib.rs
  frame/dvm/evm/precompiles/bridge/ethereum/src/lib.rs
  frame/dvm/evm/precompiles/bridge/s2s/src/lib.rs
Labels: U-Slient
