Repository darwinia-network/darwinia-common, changes with the owners that docs/CODEOWNERS names for each.
All owners: @AurevoirXavier, @HackFisher, @xiaoch05, @AsceticBear

docs/CODEOWNERS:

# Lists some code owners.
#
# A codeowner just oversees some part of the codebase. If an owned file is changed then the
# corresponding codeowner receives a review request. An approval of the codeowner is
# not required for merging a PR though.
#
# **This is pretty much an experiment at the moment**. Feel free to remove yourself at any time if
# you do not want to receive review requests any longer.
#
# For details about syntax, see:
# https://help.github.com/en/articles/about-code-owners
# But here are some important notes:
#
# - Glob syntax is git-like, e.g. `/core` means the core directory in the root, unlike `core` which
#   can be everywhere.
# - Multiple owners are supported.
# - Either handle (e.g, @AurevoirXavier) or email can be used. Keep in mind, that handles might work
#   better because they are more recognizable on GitHub, you can use them for mentioning unlike
#   an email.
# - The latest matching rule, if multiple, takes precedence.

/frame/balances/ @AurevoirXavier @HackFisher
/frame/bridge/bsc/ @AurevoirXavier @xiaoch05
/frame/bridge/ethereum/ @AurevoirXavier @HackFisher
/frame/bridge/message-gadget/ @AurevoirXavier
/frame/bridge/relay-authority/ @AurevoirXavier
/frame/bridge/relayer-game/ @AurevoirXavier
/frame/dvm/ethereum/ @AsceticBear
/frame/dvm/evm/ @AsceticBear
/frame/header-mmr/ @AurevoirXavier @HackFisher
/frame/staking/ @AurevoirXavier @HackFisher
/frame/support/ @AurevoirXavier @HackFisher
/frame/transaction-pause/ @AurevoirXavier @HackFisher
/frame/backing/*/ @AurevoirXavier @xiaoch05
/frame/issuing/*/ @xiaoch05

/node/*/ @AurevoirXavier
/node/*/*/ @AurevoirXavier

/primitives/asset/ @xiaoch05
/primitives/message/ @AurevoirXavier
/primitives/contract/ @AsceticBear @AurevoirXavier @xiaoch05
/primitives/ethereum/ @AsceticBear
/primitives/evm-trace/ @AsceticBear
/primitives/merkle-patricia-trie/ @AurevoirXavier
/primitives/relayer-game/ @AurevoirXavier
/primitives/s2s/ @AsceticBear @xiaoch05

Disable benchmark bounties
  node/runtime/pangolin/src/lib.rs
  node/runtime/pangoro/src/lib.rs
Owners: @AurevoirXavier

benchmark collective & fee_market
  node/runtime/pangolin/src/pallets/collective.rs
  node/runtime/pangolin/src/pallets/fee_market.rs
  node/runtime/pangolin/src/weights/pallet_collective_council.rs
  node/runtime/pangolin/src/weights/pallet_collective_technical_committee.rs
  node/runtime/pangolin/src/weights/pallet_fee_market_pangolin_parachain_fee_market.rs
  node/runtime/pangolin/src/weights/pallet_fee_market_pangoro_fee_market.rs
Owners: @AurevoirXavier

Free to Submit the First-Correct Signature
  frame/bridge/ecdsa-authority/src/lib.rs
Owners: none

Doc
  frame/bridge/ecdsa-authority/src/lib.rs
Owners: none

Doc
  frame/bridge/ecdsa-authority/src/primitives.rs
Owners: none

Re benchmark & update weights for pangoro with --steps 50 --repeat 20
  node/runtime/pangoro/src/weights/frame_system.rs
  node/runtime/pangoro/src/weights/pallet_bridge_grandpa.rs
  node/runtime/pangoro/src/weights/pallet_fee_market.rs
  node/runtime/pangoro/src/weights/pallet_im_online.rs
  node/runtime/pangoro/src/weights/pallet_scheduler.rs
  node/runtime/pangoro/src/weights/pallet_timestamp.rs
  node/runtime/pangoro/src/weights/pallet_treasury.rs
Owners: @AurevoirXavier

Test `Pays::No`
  frame/bridge/ecdsa-authority/src/tests.rs
Owners: none

More Assertions
  frame/bridge/ecdsa-authority/src/tests.rs
Owners: none

Release Tracing Node
  .github/workflows/release.yml
Owners: none

Re benchmark & update weights for pangolin with --steps 50 --repeat 20
  node/runtime/pangolin/src/weights/frame_system.rs
  node/runtime/pangolin/src/weights/from_substrate_issuing.rs
  node/runtime/pangolin/src/weights/mod.rs
  node/runtime/pangolin/src/weights/pallet_bridge_grandpa_bridge_pangoro_grandpa.rs
  node/runtime/pangolin/src/weights/pallet_bridge_grandpa_bridge_rococo_grandpa.rs
  node/runtime/pangolin/src/weights/pallet_collective_council.rs
  node/runtime/pangolin/src/weights/pallet_collective_technical_committee.rs
  node/runtime/pangolin/src/weights/pallet_democracy.rs
  node/runtime/pangolin/src/weights/pallet_elections_phragmen.rs
  node/runtime/pangolin/src/weights/pallet_fee_market_pangolin_parachain_fee_market.rs
  node/runtime/pangolin/src/weights/pallet_fee_market_pangoro_fee_market.rs
  node/runtime/pangolin/src/weights/pallet_identity.rs
  node/runtime/pangolin/src/weights/pallet_im_online.rs
  node/runtime/pangolin/src/weights/pallet_membership.rs
  node/runtime/pangolin/src/weights/pallet_multisig.rs
  node/runtime/pangolin/src/weights/pallet_proxy.rs
  node/runtime/pangolin/src/weights/pallet_scheduler.rs
  node/runtime/pangolin/src/weights/pallet_timestamp.rs
  node/runtime/pangolin/src/weights/pallet_tips.rs
  node/runtime/pangolin/src/weights/pallet_treasury_kton_treasury.rs
  node/runtime/pangolin/src/weights/pallet_treasury_treasury.rs
  node/runtime/pangolin/src/weights/pallet_utility.rs
  node/runtime/pangolin/src/weights/pallet_vesting.rs
  node/runtime/pangolin/src/weights/to_parachain_backing.rs
Owners: @AurevoirXavier

Add Condition
  .github/workflows/release.yml
Owners: none

Remove Duplicate Event
  node/runtime/common/src/impls.rs
Owners: @AurevoirXavier

Release Tracing Node (#1363)
  .github/workflows/release.yml
Owners: none

Remove Duplicate Event (#1364)
  node/runtime/common/src/impls.rs
Owners: @AurevoirXavier

Free to Submit the First-Correct Signature (#1361)
  frame/bridge/ecdsa-authority/src/lib.rs
  frame/bridge/ecdsa-authority/src/primitives.rs
  frame/bridge/ecdsa-authority/src/tests.rs
Owners: none

Origin Collections
  Cargo.lock
  node/runtime/common/Cargo.toml
  node/runtime/common/src/gov_origin.rs
  node/runtime/common/src/lib.rs
  node/runtime/pangolin/src/pallets/bridge_ethereum.rs
  node/runtime/pangolin/src/pallets/collective.rs
  node/runtime/pangolin/src/pallets/democracy.rs
  node/runtime/pangolin/src/pallets/election_provider_multi_phase.rs
  node/runtime/pangolin/src/pallets/identity.rs
  node/runtime/pangolin/src/pallets/membership.rs
  node/runtime/pangolin/src/pallets/relay_authority.rs
  node/runtime/pangolin/src/pallets/scheduler.rs
  node/runtime/pangolin/src/pallets/society.rs
  node/runtime/pangolin/src/pallets/staking.rs
  node/runtime/pangolin/src/pallets/transaction_pause.rs
  node/runtime/pangolin/src/pallets/treasury.rs
  node/runtime/pangoro/src/lib.rs
  node/runtime/pangoro/src/pallets/election_provider_multi_phase.rs
  node/runtime/pangoro/src/pallets/staking.rs
  node/runtime/pangoro/src/pallets/transaction_pause.rs
  node/runtime/pangoro/src/pallets/treasury.rs
Owners: @AurevoirXavier

Update
  node/runtime/pangolin/src/pallets/membership.rs
Owners: @AurevoirXavier

Update
  node/runtime/pangolin/src/pallets/identity.rs
Owners: @AurevoirXavier

Update
  node/runtime/pangolin/src/pallets/society.rs
  node/runtime/pangolin/src/pallets/treasury.rs
Owners: @AurevoirXavier

Origin Collections (#1365)
  Cargo.lock
  node/runtime/common/Cargo.toml
  node/runtime/common/src/gov_origin.rs
  node/runtime/common/src/lib.rs
  node/runtime/pangolin/src/pallets/bridge_ethereum.rs
  node/runtime/pangolin/src/pallets/collective.rs
  node/runtime/pangolin/src/pallets/democracy.rs
  node/runtime/pangolin/src/pallets/election_provider_multi_phase.rs
  node/runtime/pangolin/src/pallets/identity.rs
  node/runtime/pangolin/src/pallets/membership.rs
  node/runtime/pangolin/src/pallets/relay_authority.rs
  node/runtime/pangolin/src/pallets/scheduler.rs
  node/runtime/pangolin/src/pallets/society.rs
  node/runtime/pangolin/src/pallets/staking.rs
  node/runtime/pangolin/src/pallets/transaction_pause.rs
  node/runtime/pangolin/src/pallets/treasury.rs
  node/runtime/pangoro/src/lib.rs
  node/runtime/pangoro/src/pallets/election_provider_multi_phase.rs
  node/runtime/pangoro/src/pallets/staking.rs
  node/runtime/pangoro/src/pallets/transaction_pause.rs
  node/runtime/pangoro/src/pallets/treasury.rs
Owners: @AurevoirXavier

Include Block Number into the Commitment
  frame/bridge/ecdsa-authority/src/lib.rs
  frame/bridge/ecdsa-authority/src/primitives.rs
  frame/bridge/ecdsa-authority/src/tests.rs
Owners: none

Fix Test
  frame/bridge/ecdsa-authority/src/tests.rs
Owners: none

Include Block Number into the Commitment (#1366)
  frame/bridge/ecdsa-authority/src/lib.rs
  frame/bridge/ecdsa-authority/src/primitives.rs
  frame/bridge/ecdsa-authority/src/tests.rs
Owners: none

Fix Path
  .github/workflows/release.yml
Owners: none

Fix Path (#1368)
  .github/workflows/release.yml
Owners: none

Remove Duplicate Event (#1364)
  node/runtime/common/src/impls.rs
Owners: @AurevoirXavier

Cherrypick #1364 (#1369)
  node/runtime/common/src/impls.rs
Owners: @AurevoirXavier

Clean primitive part
  primitives/contract/src/abi_util.rs
  primitives/contract/src/ethereum_backing.rs
  primitives/contract/src/lib.rs
  primitives/contract/src/mapping_token_factory/ethereum2darwinia.rs
  primitives/contract/src/mapping_token_factory/mod.rs
  primitives/contract/src/mpt.rs
Owners: @AsceticBear, @AurevoirXavier, @xiaoch05

Simplify state-storage precompile
  Cargo.lock
  frame/dvm/evm/precompiles/state-storage/Cargo.toml
  frame/dvm/evm/precompiles/state-storage/src/lib.rs
  frame/dvm/evm/precompiles/state-storage/src/tests.rs
  frame/dvm/evm/precompiles/utils/Cargo.toml
  frame/dvm/evm/precompiles/utils/src/lib.rs
  frame/dvm/evm/precompiles/utils/src/test_helper.rs
Owners: @AsceticBear

Use `NextAuthorities` Instead
  frame/bridge/ecdsa-authority/Cargo.toml
  frame/bridge/ecdsa-authority/src/lib.rs
  frame/bridge/ecdsa-authority/src/mock.rs
  frame/bridge/ecdsa-authority/src/primitives.rs
  frame/bridge/ecdsa-authority/src/tests.rs
Owners: none

Fix Update Logic
  frame/bridge/ecdsa-authority/src/lib.rs
  frame/bridge/ecdsa-authority/src/mock.rs
  frame/bridge/ecdsa-authority/src/tests.rs
Owners: none

Add Migration
  frame/bridge/ecdsa-authority/src/lib.rs
  frame/bridge/ecdsa-authority/src/tests.rs
Owners: none

Fix Unexpected Nonce Changing
  frame/bridge/ecdsa-authority/src/lib.rs
  frame/bridge/ecdsa-authority/src/tests.rs
Owners: none

Avoid Unncessary Tuple
  frame/bridge/ecdsa-authority/src/lib.rs
  frame/bridge/ecdsa-authority/src/tests.rs
Owners: none

Migration *WPKTON*
  node/runtime/pangolin/src/migrations.rs
  node/runtime/pangoro/src/migrations.rs
Owners: @AurevoirXavier

Format
  frame/dvm/evm/precompiles/state-storage/Cargo.toml
  frame/dvm/evm/precompiles/state-storage/src/tests.rs
  frame/dvm/evm/precompiles/utils/Cargo.toml
  frame/dvm/evm/precompiles/utils/src/lib.rs
  frame/dvm/evm/precompiles/utils/src/test_helper.rs
Owners: @AsceticBear

Use `NextAuthorities` Instead (#1373)
  frame/bridge/ecdsa-authority/Cargo.toml
  frame/bridge/ecdsa-authority/src/lib.rs
  frame/bridge/ecdsa-authority/src/mock.rs
  frame/bridge/ecdsa-authority/src/primitives.rs
  frame/bridge/ecdsa-authority/src/tests.rs
Owners: none

Remove migration in pangoro network
  node/runtime/pangolin/src/migrations.rs
  node/runtime/pangoro/src/migrations.rs
Owners: @AurevoirXavier

Remove migration in pangoro network (#1376)
  node/runtime/pangolin/src/migrations.rs
  node/runtime/pangoro/src/migrations.rs
Owners: @AurevoirXavier

Migration `WPKTON` (#1375)
  node/runtime/pangolin/src/migrations.rs
  node/runtime/pangoro/src/migrations.rs
Owners: @AurevoirXavier
