Repository darwinia-network/darwinia-common, changes with the owners that docs/CODEOWNERS names for each.
All owners: @AurevoirXavier, @HackFisher, @xiaoch05, @AsceticBear

Code clean for pangoro mess
  node/runtime/pangoro/src/bridges_message/pangolin.rs
  node/runtime/pangoro/src/pallets/bridge_dispatch.rs
Owners: @AurevoirXavier

Adapt for pangolin runtime, compile is ok
  node/runtime/pangolin/src/bridges_message/pangolin_parachain.rs
  node/runtime/pangolin/src/bridges_message/pangoro.rs
  node/runtime/pangolin/src/pallets/bridge_dispatch.rs
  node/runtime/pangoro/src/bridges_message/pangolin.rs
Owners: @AurevoirXavier

Fix tx validation check
  Cargo.lock
  frame/dvm/ethereum/Cargo.toml
  frame/dvm/ethereum/src/mock.rs
  frame/dvm/ethereum/src/tests/dispatch_transact.rs
  frame/dvm/ethereum/src/tests/legacy.rs
  frame/dvm/ethereum/src/tests/mod.rs
  node/runtime/pangolin/src/pallets/bridge_dispatch.rs
  node/runtime/pangoro/src/pallets/bridge_dispatch.rs
Owners: @AsceticBear, @AurevoirXavier

Fix tx
  frame/dvm/ethereum/src/mock.rs
  frame/dvm/ethereum/src/tests/dispatch_transact.rs
Owners: @AsceticBear

Fix tx
  frame/dvm/ethereum/src/tests/dispatch_transact.rs
Owners: @AsceticBear

Remove Double Space
  frame/beefy-gadget/src/lib.rs
  frame/bridge/bsc/src/benchmarking.rs
  frame/dvm/evm/precompiles/bls12381/src/lib.rs
  frame/dvm/evm/precompiles/bridge/ethereum/src/lib.rs
  frame/dvm/evm/precompiles/bridge/s2s/src/lib.rs
  frame/dvm/evm/precompiles/mpt/src/lib.rs
  frame/dvm/evm/precompiles/state-storage/src/lib.rs
  frame/dvm/evm/precompiles/transfer/src/lib.rs
  frame/dvm/evm/precompiles/transfer/src/tests/mod.rs
  frame/dvm/evm/precompiles/utils/macro/src/lib.rs
  frame/dvm/evm/precompiles/utils/macro/tests/tests.rs
  frame/dvm/evm/precompiles/utils/src/lib.rs
  frame/dvm/evm/src/benchmarking.rs
  frame/wormhole/backing/parachain/src/benchmarking.rs
  frame/wormhole/backing/parachain/src/lib.rs
  frame/wormhole/backing/s2s/src/benchmarking.rs
  frame/wormhole/backing/s2s/src/lib.rs
  frame/wormhole/backing/s2s/src/tests.rs
  frame/wormhole/issuing/ethereum/src/benchmarking.rs
  frame/wormhole/issuing/ethereum/src/lib.rs
  frame/wormhole/issuing/s2s/src/benchmarking.rs
  frame/wormhole/issuing/s2s/src/lib.rs
  primitives/beefy/src/lib.rs
  primitives/beefy/src/network_ids.rs
  primitives/contract/src/abi_util.rs
  primitives/contract/src/beefy.rs
  primitives/contract/src/bls12381.rs
  primitives/contract/src/ethereum_backing.rs
  primitives/contract/src/lib.rs
  primitives/contract/src/mapping_token_factory/basic.rs
  primitives/contract/src/mapping_token_factory/ethereum2darwinia.rs
  primitives/contract/src/mapping_token_factory/s2s.rs
  primitives/contract/src/mpt.rs
Owners: @AurevoirXavier, @xiaoch05, @AsceticBear

Use patch to dev
  Cargo.lock
  Cargo.toml
  frame/dvm/ethereum/src/tests/dispatch_transact.rs
Owners: @AsceticBear

Revert changes
  Cargo.lock
  Cargo.toml
  node/runtime/pangoro/src/bridges_message/pangolin.rs
  node/runtime/pangoro/src/pallets/bridge_dispatch.rs
Owners: @AurevoirXavier

A new version
  Cargo.lock
  node/runtime/pangoro/src/pallets/bridge_dispatch.rs
Owners: @AurevoirXavier

Fix compile
  Cargo.lock
  Cargo.toml
  frame/dvm/ethereum/src/tests/dispatch_transact.rs
  node/runtime/pangolin/src/bridges_message/pangolin_parachain.rs
  node/runtime/pangolin/src/bridges_message/pangoro.rs
  node/runtime/pangolin/src/pallets/bridge_dispatch.rs
Owners: @AsceticBear, @AurevoirXavier

Fix tests
  Cargo.lock
  frame/dvm/ethereum/Cargo.toml
  frame/dvm/ethereum/src/mock.rs
  frame/dvm/ethereum/src/tests/dispatch_transact.rs
Owners: @AsceticBear

Remove useless imports
  node/runtime/pangolin/src/bridges_message/pangolin_parachain.rs
  node/runtime/pangolin/src/bridges_message/pangoro.rs
  node/runtime/pangoro/src/bridges_message/pangolin.rs
Owners: @AurevoirXavier

Optimal pre_dispatch
  node/runtime/pangolin/src/pallets/bridge_dispatch.rs
  node/runtime/pangoro/src/pallets/bridge_dispatch.rs
Owners: @AurevoirXavier

Add weight check test
  frame/dvm/ethereum/src/mock.rs
  frame/dvm/ethereum/src/tests/dispatch_transact.rs
Owners: @AsceticBear

Rename
  frame/dvm/ethereum/src/mock.rs
  node/runtime/pangolin/src/pallets/bridge_dispatch.rs
  node/runtime/pangoro/src/pallets/bridge_dispatch.rs
Owners: @AsceticBear, @AurevoirXavier

Use `fp::ExitRevert`
  Cargo.lock
  frame/dvm/evm/precompiles/bls12381/Cargo.toml
  frame/dvm/evm/precompiles/bls12381/src/lib.rs
  frame/dvm/evm/precompiles/bridge/ethereum/Cargo.toml
  frame/dvm/evm/precompiles/bridge/ethereum/src/lib.rs
  frame/dvm/evm/precompiles/bridge/s2s/Cargo.toml
  frame/dvm/evm/precompiles/bridge/s2s/src/lib.rs
  frame/dvm/evm/precompiles/mpt/Cargo.toml
  frame/dvm/evm/precompiles/mpt/src/lib.rs
  frame/dvm/evm/precompiles/state-storage/Cargo.toml
  frame/dvm/evm/precompiles/state-storage/src/lib.rs
  frame/dvm/evm/precompiles/transfer/Cargo.toml
  frame/dvm/evm/precompiles/transfer/src/kton.rs
  frame/dvm/evm/precompiles/transfer/src/tests/mock.rs
  frame/dvm/evm/precompiles/utils/Cargo.toml
  frame/dvm/evm/precompiles/utils/macro/Cargo.toml
  frame/dvm/evm/precompiles/utils/macro/tests/tests.rs
  frame/dvm/evm/precompiles/utils/src/lib.rs
  node/runtime/pangolin/Cargo.toml
  node/runtime/pangolin/src/pallets/evm_.rs
  node/runtime/pangoro/Cargo.toml
  node/runtime/pangoro/src/pallets/evm_.rs
Owners: @AsceticBear, @AurevoirXavier

Rename files
  node/runtime/pangolin/src/pallets/evm.rs
  node/runtime/pangolin/src/pallets/mod.rs
  node/runtime/pangoro/src/pallets/evm.rs
  node/runtime/pangoro/src/pallets/mod.rs
Owners: @AurevoirXavier

Use `fp::ExitRevert` (#1284)
  Cargo.lock
  frame/dvm/evm/precompiles/bls12381/Cargo.toml
  frame/dvm/evm/precompiles/bls12381/src/lib.rs
  frame/dvm/evm/precompiles/bridge/ethereum/Cargo.toml
  frame/dvm/evm/precompiles/bridge/ethereum/src/lib.rs
  frame/dvm/evm/precompiles/bridge/s2s/Cargo.toml
  frame/dvm/evm/precompiles/bridge/s2s/src/lib.rs
  frame/dvm/evm/precompiles/mpt/Cargo.toml
  frame/dvm/evm/precompiles/mpt/src/lib.rs
  frame/dvm/evm/precompiles/state-storage/Cargo.toml
  frame/dvm/evm/precompiles/state-storage/src/lib.rs
  frame/dvm/evm/precompiles/transfer/Cargo.toml
  frame/dvm/evm/precompiles/transfer/src/kton.rs
  frame/dvm/evm/precompiles/transfer/src/tests/mock.rs
  frame/dvm/evm/precompiles/utils/Cargo.toml
  frame/dvm/evm/precompiles/utils/macro/Cargo.toml
  frame/dvm/evm/precompiles/utils/macro/tests/tests.rs
  frame/dvm/evm/precompiles/utils/src/lib.rs
  node/runtime/pangolin/Cargo.toml
  node/runtime/pangolin/src/pallets/evm.rs
  node/runtime/pangolin/src/pallets/mod.rs
  node/runtime/pangoro/Cargo.toml
  node/runtime/pangoro/src/pallets/evm.rs
  node/runtime/pangoro/src/pallets/mod.rs
Owners: @AsceticBear, @AurevoirXavier

docs/CODEOWNERS:

# Lists some code owners.
#
# A codeowner just oversees some part of the codebase. If an owned file is changed then the
# corresponding codeowner receives a review request. An approval of the codeowner is
# not required for merging a PR though.
#
# **This is pretty much an experiment at the moment**. Feel free to remove yourself at any time if
# you do not want to receive review requests any longer.
#
# For details about syntax, see:
# https://help.github.com/en/articles/about-code-owners
# But here are some important notes:
#
# - Glob syntax is git-like, e.g. `/core` means the core directory in the root, unlike `core` which
#   can be everywhere.
# - Multiple owners are supported.
# - Either handle (e.g, @AurevoirXavier) or email can be used. Keep in mind, that handles might work
#   better because they are more recognizable on GitHub, you can use them for mentioning unlike
#   an email.
# - The latest matching rule, if multiple, takes precedence.

/frame/balances/ @AurevoirXavier @HackFisher
/frame/balances/rpc/ @AurevoirXavier
/frame/balances/rpc/runtime-api/ @AurevoirXavier
/frame/beefy-gadget/ @AurevoirXavier
/frame/bridge/bsc/ @AurevoirXavier @xiaoch05
/frame/bridge/ethereum/ @AurevoirXavier @HackFisher
/frame/bridge/relay-authorities/ @AurevoirXavier
/frame/bridge/relayer-game/ @AurevoirXavier
/frame/dvm/ethereum/ @AsceticBear
/frame/dvm/evm/ @AsceticBear
/frame/header-mmr/ @AurevoirXavier @HackFisher
/frame/staking/ @AurevoirXavier @HackFisher
/frame/staking/rpc/ @AurevoirXavier
/frame/staking/rpc/runtime-api/ @AurevoirXavier
/frame/support/ @AurevoirXavier @HackFisher
/frame/transaction-pause/ @AurevoirXavier @HackFisher
/frame/backing/*/ @xiaoch05
/frame/issuing/*/ @xiaoch05

/node/*/ @AurevoirXavier
/node/*/*/ @AurevoirXavier

/primitives/asset/ @xiaoch05
/primitives/beefy/ @AurevoirXavier
/primitives/bsc/ @xiaoch05
/primitives/contract/ @AsceticBear @xiaoch05
/primitives/ethereum/ @AsceticBear
/primitives/evm-trace/ @AsceticBear
/primitives/merkle-patricia-trie/ @AurevoirXavier
/primitives/relay/ @AurevoirXavier
/primitives/s2s/ @AsceticBear @xiaoch05
